<% tab_access = menu_items_for(:admin_menu).map{ |item| item.name.to_s } %>
<% tab_caption = menu_items_for(:admin_menu).map{ |item| item.caption.to_s } %>

<p><%= form.check_box :partial_admin, :disabled => (@user == User.current), label: l(:label_partial_admin) %></p>
<hr>
<div id="partial_admin_access">
  <% if User.current.partial_admin? || User.current.admin? && params[:id] %>
    <% @user = User.find_by(id: params[:id]) %>
  <% end %>
</div>

<script>
  function createMenu(tabCaption, tabAccess, userAccess) {
          $.each(tabAccess, function(index,value) {
                  var pElt = $('<p></p>');
                  var labelElt = $('<label></label>');
                  var input = $('<input>');
                  labelElt.attr("for", value);
                  labelElt.text(tabCaption[index]);
                  input.attr('type','checkbox');
                  input.attr('name', 'user[access]['+value+']');
                  if($.inArray(value, userAccess) !== -1)
                          input.attr('checked', true);
                  input.attr('value', value);
                  pElt.append(labelElt);
                  pElt.append(input);
                  $('#partial_admin_access').append(pElt);
          });
  }
        $(document).ready(function () {
                var tabAccess = <%= raw tab_access %>
                var tabCaption = <%= raw tab_caption %>
                var userAccess = <%= raw(@user.nil? || @user.access.nil? ? [] : @user.access.keys) %>
                var userPartialAdmin = <%= raw(@user.nil? ? false : @user.partial_admin) %>

                var checkboxPartialAdmin = $('#user_partial_admin');
                var checkboxAdmin = $('#user_admin');

                if(userPartialAdmin === true)
                        createMenu(tabCaption, tabAccess, userAccess);

                checkboxAdmin.click(function () {
                        checkboxPartialAdmin.prop("checked", false);
                        $('#partial_admin_access').html('');
                });

                checkboxPartialAdmin.click(function() {
                        checkboxAdmin.prop("checked", false);
                        if($(this).prop("checked") == true){
                                $('#partial_admin_access').html('');
                                createMenu(tabCaption, tabAccess, userAccess);
                        }
                        else {
                                $('#partial_admin_access').html('');
                        }
                })
        });
</script>